.align-items {
  display: block;
  text-align: center;

  .item {
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto;
  }

  .item--profile {
    display: block;
    border-radius: 50%;
  }

  @mixin atSmall {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__profile {
      order: 3;
    }

    &__pencil {
      order: 1;
    }

    &__mouse {
      order: 2;
    }

    &__browser {
      order: 4;
    }

    &__video {
      order: 5;
    }
  }
}