.headline {
  margin: 0 auto 40px;
  padding: 0;
  width: 100%;

  text-align: center;
  color: $accentLight;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  font-size: 16px;

  @mixin atMedium {
    font-size: 19px;
  }
}