.site-footer {
  /* position: relative;*/
  padding: 50px 30px;
  background: url("../../assets/images/footer.jpg") center center;
  background-size: cover;

  @mixin clearfix;

  &__logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 30px;
    margin-top: 25px;

    @mixin atSmall {
      margin-top: 0;
    }

    & svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
  }

  &__menu {
    float: right;
    position: relative;
    margin-top: 15px;

    @mixin clearfix;

    &__copyright {
      margin: 0 auto;
      padding-right: 0;
      font-size: 10px;
      text-align: center;
      color: rgba(0, 0, 0, .65);

      @mixin atSmall {
        margin-top: 5px;
        padding-right: 40px;
        text-align: right;
      }
    }
  }
}