.site-footer {
  background: url("../../assets/images/footer.jpg") center center;
  background-size: cover;

  &__logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 30px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    float: right;
    padding-top: 10px;

    &__links {
      padding-left: 0;
      margin: 0;

      & a {
        padding-right: 8px;

        @mixin atSmall {
          padding-right: 20px;
        }
      }
    }

    &__copyright {
      margin: 0;
      padding-top: 5px;
      float: right;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1;
      color: rgba(0, 0, 0, 0.8);
    }

  }


}