.info {

  &__icons {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 30px;



    .item {
      width: 100px;
      height: 100px;
      background-color: $bgColor;
      border-radius: 50%;

      &--profile {
        width: 200px;
        height: 200px;
      }
    }
  }

  &__description {
    max-width: 620px;
    padding: 0 15px;
    margin: 50px auto 0;
    text-align: center;
  }
}