.site-footer {
  /* position: relative;*/
  padding: 50px 30px;
  background: url("../../assets/images/footer.jpg") center center;
  background-size: cover;

  @mixin clearfix;

  &__logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 30px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    float: right;
    padding-top: 10px;

    &__links {
      padding-left: 0;
      margin: 0;
      list-style: none;

      & li {
        display: inline-block;

      }

      & a {
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: rgba(0, 0, 0, .7);
        text-transform: uppercase;
        transition: color .3s ease-out;

        @mixin atSmall {
          font-size: 13px;
        }

        &:hover {
          color: rgba(255, 255, 255, .8);
        }
      }
    }

    &__copyright {
      margin: 0;
      padding-top: 5px;
      float: right;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1;
      color: rgba(0, 0, 0, 0.8);

    }

  }


}