.skills-block {
  width: 360px;
  margin: 0 auto;
  color: #999;

  @mixin clearfix;

  @mixin atSmall {
    width: 770px;
  }

  &__unit {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    float: left;

    @mixin atSmall {
      width: 350px;
    }


    &__p {
      margin: 0;
      padding-bottom: 3px;
    }

    &__bar {
      margin: 0;
      font-size: 0;
      height: 6px;
    }

    span {
      width: 18px;
      height: 4px;

      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: $accent;

      @mixin atSmall {
        width: 28px;

      }
    }

    .skills-6 span:nth-child(n+7) {
      background-color: $bgColor;
    }

    .skills-7 span:nth-child(n+8) {
      background-color: $bgColor;
    }

    .skills-8 span:nth-child(n+9) {
      background-color: $bgColor;
    }

    .skills-9 span:nth-child(n+10) {
      background-color: $bgColor;
    }
  }

  &--align-x {
    padding-left: 70px;
/* to adjust centering */
    @mixin atSmall {
      padding-left: 70px;
    }
  }
}