.skills-block {
  max-width: 350px;

  margin: 0 auto;
  color: #999;

  @mixin clearfix;

  @mixin atSmall {
    max-width: 750px;
  }

  &__unit {
    width: 100%;
    padding-left: 60px;
    /* text-align: center;*/
    float: none;


    @mixin atSmall {
      width: 340px;
      float: left;
      text-align: none;

    }

    p {
      margin: 0;
      text-align: left;
    }
  }

  &__bar {
    margin: 0 auto 30px;
    font-size: 0;

    span {

      display: inline-block;
      margin: 0;
      padding: 0;
      width: 28px;
      height: 4px;
      background-color: $accent;
    }

    &.skills-6 span:nth-child(n+7) {
      background-color: $bgColor;
    }

    &.skills-8 span:nth-child(n+9) {
      background-color: $bgColor;
    }

    &.skills-9 span:nth-child(n+10) {
      background-color: $bgColor;
    }
  }
}

/**********************************
 Alignment column skills 
*********************************/
.align-margin-r {
  margin-right: 60px;
}

.no-margin-r-on-large {
  @mixin atSmall {
    margin-right: 0;

  }
}